* {
    margin: 0;
    padding: 0;
}

html, body {
    font-family: Arial, sans-serif;
    height: 100%;
    width: 100%;
}

body {
    background-color: #19151c;
    color: #bbb6bf;
    display: grid;
    grid-template-areas: 'header header header'
                         'content1 content2 content3'
                         'footer footer footer';
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 10fr 1fr;
}

header {
    grid-area: header;
}

.header-div {
    background-color: #221d26;
    padding: 15px 25px;
    font-size: large;
    color: #bbb6bf;
}

.content1 {
    background-color: transparent;
    padding: 20px;
    grid-area: content1;
}
.content2 {
    background-color: #221d26;
    padding: 20px;
    grid-area: content2;
}
.content3 {
    background-color: transparent;
    padding: 20px;
    grid-area: content3;
}

footer {
    background-color: #221d26;
    grid-area: footer;
}